<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>This is Character Count</h2>
    <!-- {{ char_count }} -->
        {% for key,value in char_count.items %}
            <h4>Count of</h4> {{ key }}:{{ value }}
        {% endfor %}
        <h2>This is Analyzed Text</h2>
        <p><pre>{{ analyzed_text }}</pre></p>
</body>
</html>